html {
    margin: 0;
    overflow: hidden;
    background-color: #D5E1EF;
    height: 100vh; 
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}


.carte {

    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;  
    padding: 10px; 
    border-radius: 12px;
    box-shadow: 5px 0px 20px #b1bcc9;
    transition: all 200ms ease-in-out;
    
    

}

.carte:hover {
    transition: all 200ms ease-in-out;
    transform: scale(120%);
}


.carte > .qr {

   border-radius: 12px;
   max-width: 100%;
   max-height: 100%;
   
}





.bigText {
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.smallText {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
} */
